*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font:'Poppins', sans-serif;
    --dark-color:black;
    --light-color:grey;
    --font-color:#fff;
}

.sidebar{
    font-family: var(--main-font);
}