*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font:'Poppins', sans-serif;
}


/*=====nav styles=====*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: var(--main-font);
    background-color: rgb(0, 158, 250);
    padding: 0 20px 0 20px;
}

.logo{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;
    user-select: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    user-select: none;
}

.nav-links li{
    list-style: none;
    text-shadow: 1px 1px 2px black;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1em;
}

/*===== hamburger menu =====*/

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    box-shadow: 1px 1px 2px black;
}


/*===== media queries =====*/

@media screen and (max-width:1024px){
    body{
        background-color: tan;
    }
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}