*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background: black;
}

.container-2{
    height: 100vh;
    background-color: rgb(0, 0, 129);
}

.absolute{
    background: burlywood;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.absolute-2{
    background: burlywood;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 300px;
}

.fixed{
    background: cadetblue;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 20px;
    top: 20px;
}

.relative{
    background-color: brown;
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
    left: 40%;
}

.container-3{
    height: 100vh;
    background-color: darkcyan;
}
/*===== static positions are default html positions=====*/
.sticky{
    height: 100px;
    width: 100px;
    background-color: darkolivegreen;
    position: sticky;
    left: 20px;
    top: 20px;
}

.static{
    height: 100px;
    width: 100px;
    background-color: darkorange;
    position: static;
    left: 1000px;
    top: 100px;
}

.container-4{
    height: 100vh;
}